USE [simple_invoices2011_1]
GO
/****** Object:  Table [dbo].[si_payment]    Script Date: 08/21/2015 20:55:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[si_payment](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ac_inv_id] [int] NOT NULL,
	[ac_amount] [decimal](25, 6) NOT NULL,
	[ac_notes] [varchar](max) NOT NULL,
	[ac_date] [datetime] NOT NULL,
	[TRIAL_COLUMN_6] [int] NOT NULL,
	[TRIAL_COLUMN_7] [int] NOT NULL,
	[TRIAL_COLUMN_8] [varchar](255) NULL,
 CONSTRAINT [primary key21] PRIMARY KEY CLUSTERED 
(
	[TRIAL_COLUMN_7] ASC,
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [domain_id1] ON [dbo].[si_payment] 
(
	[TRIAL_COLUMN_7] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[si_payment] ADD  DEFAULT ((1)) FOR [TRIAL_COLUMN_6]
GO
